.container {
  margin: auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.container > h1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #fff;
}

.github {
  color: #fff;
  font-size: 1rem;
}

.github:hover {
  color: #c3c3c3;
}

svg {
  fill: currentColor;
}

#convert {
  border-style: solid none;
  border-width: 1px;
}

#convert:after {
  content: '⇓';
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .row {
    flex-direction: row;
  }

  #convert {
    border-style: none solid;
  }

  #convert:after {
    content: '⇒';
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
